<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ibrahim Hiring Platform</title>
    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/hiring_platform.styles.css" asp-append-version="true" />
</head>

<body>
    <header class="header">
        <h1>Ibrahim Hiring Platform</h1>
        <div class="tabs">
            @if (ViewData.ContainsKey("Title"))
            {
                @if (ViewData["Title"].Equals("Overview"))
                {
                    <a class="tab active" asp-area="" asp-controller="Home" asp-action="">Overview</a>
                    <a class="tab" asp-area="" asp-controller="Home" asp-action="Application">Application</a>
                }
                else
                {
                    <a class="tab" asp-area="" asp-controller="Home" asp-action="">Overview</a>
                    <a class="tab active" asp-area="" asp-controller="Home" asp-action="Application">Application</a>
                }
            }
        </div>
    </header>
    <div>
        <main role="main" class="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div>
            &copy; 2023 - Ibrahim Hiring Platform <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
