@{
    ViewData["Title"] = "Overview";
}

<section class="overview">
    <h2>Description</h2>
    <p>Current education/background/experience</p>
    <p>Have British Citzenship and willing to apply for security clearance</p>
    <p>Preferred roles</p>
    <h2>FAQ</h2>
    <p>All typical interview questions here</p>
    <button class="apply">Apply to hire me</button>
</section>